body {
  padding-top: 56px;
  background-color: #fff;
}

.bg-purple {
  background-color: #7868e6 !important;
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
  background-color: #6457bd !important;
}

.bg-pinch {
  background-color: #b8b5ff !important;
}

a.bg-pinch:hover, a.bg-pinch:focus,
button.bg-pinch:hover,
button.bg-pinch:focus {
  background-color: #9996d4 !important;
}

.bg-white {
  background-color: #edeef7 !important;
}

a.bg-white:hover, a.bg-white:focus,
button.bg-white:hover,
button.bg-white:focus {
  background-color: #cbccd4 !important;
}

.bg-lblue {
  background-color: #e4fbff !important;
}

a.bg-lblue:hover, a.bg-lblue:focus,
button.bg-lblue:hover,
button.bg-lblue:focus {
  background-color: #cce0e3 !important;
}

.nav-item-active {
	border-bottom: 3px solid white;
	margin-bottom: 2px;
}

.btn-purple {
	color: #fff;
  	background-color: #7868e6;
  	border-color: #7868e6;
}

.btn-purple:hover {
	color: #fff;
  	background-color: #6457bd;
  	border-color: #6457bd;
}

